include setup.py
include cback
include Changelog
include CREDITS
include INSTALL
include LICENSE
include README
include TODO
include CedarBackup2/*.py
include doc/cback.1
include doc/cback.conf.sample
include doc/docbook.txt
include doc/release.txt
include doc/manual/*
include doc/manual/src/*
include doc/manual/src/images/*
include doc/manual/src/images/html/*
include doc/manual/src/images/pdf/*
include doc/cedar-backup2/*
include doc/cedar-backup2/interface/*
include doc/cedar-backup2/interface/public/*
include doc/cedar-backup2/interface/private/*
include doc/cedar-backup2/manual/*
include doc/cedar-backup2/manual/images/*
include util/*.py
include util/*.ini
include util/docbook/*
include test/*.py
include test/data/*
