include setup.py
include cback
include Changelog
include CREDITS
include INSTALL
include LICENSE
include README
include TODO
include CedarBackup2/*.py
include CedarBackup2/extend/*.py
include util/test.py
include util/knapsackdemo.py
include util/docbook/*
include test/*.py
include test/data/*
include manual/*
include manual/src/*
include manual/src/images/*
include manual/src/images/html/*
include manual/src/images/pdf/*
include doc/cback.1
include doc/cback.conf.sample
include doc/docbook.txt
include doc/release.txt
include doc/interface/*
include doc/interface/public/*
include doc/interface/private/*
include doc/manual/*
include doc/manual/images/*
